* {
  box-sizing: border-box;
}

body{
  background-color: #fafafa;
  font-size: 1rem;
}


.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.header__title{
  text-transform: uppercase;
  font-size: .9rem;
}

.header__title{
  text-transform: uppercase;
  font-size: .9rem;
}
